<p>Book was successfully created.</p>

<p>Title: <%= @book.title %></p>

<p>Body:<%= @book.body %></p>
<a>Edit(後でeditに変更する)</a>
<a href ="/books">Back</a>

<%# 消していい？ <p>Find me in app/views/books/show.html.erb</p> %%>
